<div class="container">
  <div class="page-header">
    <h1 class ="header" >NewsPortal</h1>
  </div>
</div>
<div class="container">
  <div style="display: inline-block; width:70%;  vertical-align: middle;">
    Sort by &nbsp;
    <select id="sortSelect" onChange="selectSort()">
      <option value="time">Time</option>
      <option value="noOfComments" selected="true">Number of comments</option>
    </select>
  </div>

  <div class="container" style="display: inline-block; width:29%;  vertical-align: middle;">
    <a href="/home/add" class="btn btn-default" style = "float:right;">New article</a>
  </div>
  <hr>
</div>
<br>
<%= render 'news' %>
